<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ page_title }}</title>

{{ content_for_header }}

{{ 'css/global.css' | asset_url | stylesheet_tag }}
{{ 'css/homepage.css' | asset_url | stylesheet_tag }}

<!-- Flickity CSS -->
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.9.0/dist/css/foundation.min.css" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>

<div id="main-wrapper">

  <!-- Header Section -->
  {% section 'header' %}

  <!-- Main content -->
  <main class="site-main">
  {{ content_for_layout }}
  </main>

  {% section 'footer' %}

</div>

<!-- Your theme JS -->
  {{ 'global.js' | asset_url | script_tag }}

  <!-- Flickity JS -->
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

</body>
</html>