{% comment %} Banner {% endcomment %}
 <section class="banner">
    <div class="banner__holder grid-x">
        <div class="banner__content">
            <div class="banner__conntent--inner">
                <div class="banner__content--title">
                    Skincare for guys that aren’t into skincare
                    <span>Try the One Minute Skincare Routine</span>
                </div>
                <div class="banner__content--btn">
                    <a href="#" class="grid-x align-center align-middle text-center">Try Today!</a>
                </div>
            </div>
            <div class="banner__content--testimonials">
                <div class="banner__content--testimonials--slider">
                    <div>
                        <div class="banner__content--testimonials--list">
                            <div class="testi-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testi-text">
                                <p>
                                    “I love this stuff, it totally changed the game for me”
                                </p>
                            </div>
                            <div class="testi-author grid-x align-middle">
                                <img class="img-responsive" width="39" height="39" src="{{ 'images/author-photo.jpg' | asset_url }}" alt="Author">
                                Peter S.
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="banner__content--testimonials--list">
                            <div class="testi-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testi-text">
                                <p>
                                    “I love this stuff, it totally changed the game for me”
                                </p>
                            </div>
                            <div class="testi-author grid-x align-middle">
                                <img class="img-responsive" width="39" height="39" src="{{ 'images/author-photo.jpg' | asset_url }}" alt="Author">
                                Peter S.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__photo">
            <div class="banner__photo--inner">
                <img class="img-responsive" width="611" height="617" src="{{ 'images/banner-photo.png' | asset_url }}" alt="Banner Photo">
            </div>
        </div>
    </div>
 </section>

 {% comment %} welcome {% endcomment %}
 <section class="welcome">
    <div class="welcome__holder">
        <div class="welcome__tagline">
            Just <span>one minute</span> a day will make your skin look healthier and younger
        </div>
        <div class="welcome__inner grid-x">
            <div class="welcome__content">
                <div class="welcome__content--title">
                    A simple routine that works
                </div>
                <div class="welcome__content--text">
                    <p>
                        Say goodbye to complicated skincare routines. Our mens' skincare line is designed for simplicity and effectiveness. With our lightweight formulas, you can achieve healthier and younger-looking skin with minimal effort. Perfect for guys who are new to skincare or just want to keep it simple.
                    </p>
                </div>
                <div class="welcome__content--list">
                    <ul>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Lightweight formulas
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Easy to use formats
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Clean Ingredients
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Everything you need, nothing you don’t
                        </li>
                    </ul>
                </div>
            </div>
            <div class="welcome__photo">
                <div class="welcome__photo--inner">
                    <img class="img-responsive" width="568" height="670" src="{{ 'images/wc-photo.png' | asset_url }}" alt="Photo">
                </div>
            </div>
        </div>
    </div>
</section>

 {% comment %} features {% endcomment %}
 <section class="features">
    <div class="features__holder grid-x align-middle align-justify">
        <div class="features__list grid-x align-middle">
            <div class="features__list--photo">
                <img class="img-responsive" width="135" height="135" src="{{ 'images/features-1.jpg' | asset_url }}" alt="Photo">
            </div>
            <div class="features__list--label">
                Cutting-edge <br>Korean Skincare <br>Technology
            </div>
        </div>
        <div class="features__list grid-x align-middle">
            <div class="features__list--photo">
                <img class="img-responsive" width="135" height="135" src="{{ 'images/features-2.jpg' | asset_url }}" alt="Photo">
            </div>
            <div class="features__list--label">
                Science-backed <br>Ingredients
            </div>
        </div>
        <div class="features__list grid-x align-middle">
            <div class="features__list--photo">
                <img class="img-responsive" width="135" height="135" src="{{ 'images/features-3.jpg' | asset_url }}" alt="Photo">
            </div>
            <div class="features__list--label">
                Dematologically <br>Tested
            </div>
        </div>
    </div>
</section>

 {% comment %} how it works {% endcomment %}
 <section class="how-it-works">
    <div class="how-it-works__holder">
        <div class="how-it-works__head">
            <div class="how-it-works__head--sub-text">
                Heres how D1 works
            </div>
            <div class="how-it-works__head--clock">
                <img class="img-responsive" width="113" height="119" src="{{ 'images/clock-icon.png' | asset_url }}" alt="Clock">
            </div>
            <div class="how-it-works__head--title">
                Just 1 minute a day
            </div>
            <div class="how-it-works__steps grid-x align-justify">
                <div class="how-it-works__steps--list">
                    <div class="how-it-works__steps--photo">
                        <img class="img-responsive" width="332" height="480" src="{{ 'images/steps-photo-1.jpg' | asset_url }}" alt="Photo">
                        <span>1</span>
                    </div>
                    <div class="how-it-works__steps--content">
                        <img class="img-responsive" width="88" height="123" src="{{ 'images/steps-product-1.png' | asset_url }}" alt="Product">
                        Wash your face with our Bamboo Charcoal Cleanser
                    </div>
                </div>
                <div class="how-it-works__steps--list">
                    <div class="how-it-works__steps--photo">
                        <img class="img-responsive" width="332" height="480" src="{{ 'images/steps-photo-2.jpg' | asset_url }}" alt="Photo">
                        <span>2</span>
                    </div>
                    <div class="how-it-works__steps--content">
                        <img class="img-responsive" width="61" height="83" src="{{ 'images/steps-product-2.png' | asset_url }}" alt="Product">
                        Apply a dime size amount of All Day Moisturizer evenly to your face
                    </div>
                </div>
                <div class="how-it-works__steps--list">
                    <div class="how-it-works__steps--photo">
                        <img class="img-responsive" width="332" height="480" src="{{ 'images/steps-photo-3.jpg' | asset_url }}" alt="Photo">
                        <span>3</span>
                    </div>
                    <div class="how-it-works__steps--content">
                        <img class="img-responsive" width="68" height="118" src="{{ 'images/steps-product-3.png' | asset_url }}" alt="Product">
                        Apply small amount of our Eye Cream under your eyes and around the sides
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>