{% comment %} Banner {% endcomment %}
 <section class="banner">
    <div class="banner__holder grid-x">
        <div class="banner__content">
            <div class="banner__conntent--inner">
                <div class="banner__content--title">
                    Skincare for guys that aren’t into skincare
                    <span>Try the One Minute Skincare Routine</span>
                </div>
                <div class="banner__content--btn">
                    <a href="#" class="grid-x align-center align-middle text-center">Try Today!</a>
                </div>
            </div>
            <div class="banner__content--testimonials">
                <div class="banner__content--testimonials--slider">
                    <div>
                        <div class="banner__content--testimonials--list">
                            <div class="testi-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testi-text">
                                <p>
                                    “I love this stuff, it totally changed the game for me”
                                </p>
                            </div>
                            <div class="testi-author grid-x align-middle">
                                <img class="img-responsive" width="39" height="39" src="{{ 'images/author-photo.jpg' | asset_url }}" alt="Author">
                                Peter S.
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="banner__content--testimonials--list">
                            <div class="testi-stars">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="testi-text">
                                <p>
                                    “I love this stuff, it totally changed the game for me”
                                </p>
                            </div>
                            <div class="testi-author grid-x align-middle">
                                <img class="img-responsive" width="39" height="39" src="{{ 'images/author-photo.jpg' | asset_url }}" alt="Author">
                                Peter S.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="banner__photo">
            <div class="banner__photo--inner">
                <img class="img-responsive" width="611" height="617" src="{{ 'images/banner-photo.png' | asset_url }}" alt="Banner Photo">
            </div>
        </div>
    </div>
 </section>

 {% comment %} welcome {% endcomment %}
 <section class="welcome">
    <div class="welcome__holder">
        <div class="welcome__tagline">
            Just <span>one minute</span> a day will make your skin look healthier and younger
        </div>
        <div class="welcome__inner grid-x">
            <div class="welcome__content">
                <div class="welcome__content--title">
                    A simple routine that works
                </div>
                <div class="welcome__content--text">
                    <p>
                        Say goodbye to complicated skincare routines. Our mens' skincare line is designed for simplicity and effectiveness. With our lightweight formulas, you can achieve healthier and younger-looking skin with minimal effort. Perfect for guys who are new to skincare or just want to keep it simple.
                    </p>
                </div>
                <div class="welcome__content--list">
                    <ul>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Lightweight formulas
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Easy to use formats
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Clean Ingredients
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Everything you need, nothing you don’t
                        </li>
                    </ul>
                </div>
            </div>
            <div class="welcome__photo">
                <div class="welcome__photo--inner">
                    <img class="img-responsive" width="568" height="670" src="{{ 'images/wc-photo.png' | asset_url }}" alt="Photo">
                </div>
            </div>
        </div>
    </div>
</section>

 {% comment %} features {% endcomment %}
 <section class="features">
    <div class="features__holder grid-x align-middle align-justify">
        <div class="features__list grid-x align-middle">
            <div class="features__list--photo">
                <img class="img-responsive" width="135" height="135" src="{{ 'images/features-1.jpg' | asset_url }}" alt="Photo">
            </div>
            <div class="features__list--label">
                Cutting-edge <br>Korean Skincare <br>Technology
            </div>
        </div>
        <div class="features__list grid-x align-middle">
            <div class="features__list--photo">
                <img class="img-responsive" width="135" height="135" src="{{ 'images/features-2.jpg' | asset_url }}" alt="Photo">
            </div>
            <div class="features__list--label">
                Science-backed <br>Ingredients
            </div>
        </div>
        <div class="features__list grid-x align-middle">
            <div class="features__list--photo">
                <img class="img-responsive" width="135" height="135" src="{{ 'images/features-3.jpg' | asset_url }}" alt="Photo">
            </div>
            <div class="features__list--label">
                Dematologically <br>Tested
            </div>
        </div>
    </div>
</section>

 {% comment %} how it works {% endcomment %}
 <section class="how-it-works">
    <div class="how-it-works__holder">
        <div class="how-it-works__head">
            <div class="how-it-works__head--sub-text">
                Heres how D1 works
            </div>
            <div class="how-it-works__head--clock">
                <img class="img-responsive" width="113" height="119" src="{{ 'images/clock-icon.png' | asset_url }}" alt="Clock">
            </div>
            <div class="how-it-works__head--title">
                Just 1 minute a day
            </div>
            <div class="how-it-works__steps grid-x align-justify">
                <div class="how-it-works__steps--list">
                    <div class="how-it-works__steps--photo">
                        <img class="img-responsive" width="332" height="480" src="{{ 'images/steps-photo-1.jpg' | asset_url }}" alt="Photo">
                        <span>1</span>
                    </div>
                    <div class="how-it-works__steps--content">
                        <img class="img-responsive" width="88" height="123" src="{{ 'images/steps-product-1.png' | asset_url }}" alt="Product">
                        <p>Wash your face with our Bamboo Charcoal Cleanser</p>
                    </div>
                </div>
                <div class="how-it-works__steps--list">
                    <div class="how-it-works__steps--photo">
                        <img class="img-responsive" width="332" height="480" src="{{ 'images/steps-photo-2.jpg' | asset_url }}" alt="Photo">
                        <span>2</span>
                    </div>
                    <div class="how-it-works__steps--content">
                        <img class="img-responsive" width="61" height="83" src="{{ 'images/steps-product-2.png' | asset_url }}" alt="Product">
                        <p>Apply a dime size amount of All Day Moisturizer evenly to your face</p>
                    </div>
                </div>
                <div class="how-it-works__steps--list">
                    <div class="how-it-works__steps--photo">
                        <img class="img-responsive" width="332" height="480" src="{{ 'images/steps-photo-3.jpg' | asset_url }}" alt="Photo">
                        <span>3</span>
                    </div>
                    <div class="how-it-works__steps--content">
                        <img class="img-responsive" width="68" height="118" src="{{ 'images/steps-product-3.png' | asset_url }}" alt="Product">
                        <p>Apply small amount of our Eye Cream under your eyes and around the sides</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 {% comment %} results {% endcomment %}
 <section class="results">
    <div class="results__head">
        <div class="results__head--title">
            Results you can see
        </div>
        <div class="results__head--text">
            <p>
                A simple skincare routine is essential to reduce and prevent fine lines, wrinkles, dry skin, and dark splotches that start to appear on your face as you age. 
            </p>
            <p>
                If you dont feel better and see resuilts in 30 days, you can keep the product and we’ll send you a full refund
            </p>
        </div>
    </div>
    <div class="results__photo">
        <img class="img-responsive" width="1440" height="756" src="{{ 'images/results-photo.jpg' | asset_url }}" alt="Photo">
        <div class="results__photo--text">
            “The one minute routine that will save your face”
        </div>
    </div>
    <div class="results__infos">
        <div class="results__infos--slider">
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    All-natural ingredients
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    Formulated by doctors & PHDs
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    100% risk-free returns
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    No prescription Required
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    All-natural ingredients
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    Formulated by doctors & PHDs
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    100% risk-free returns
                </div>
            </div>
            <div>
                <div class="results__infos--list">
                    <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                    No prescription Required
                </div>
            </div>
        </div>
    </div>
</section>

 {% comment %} benefits {% endcomment %}
 <section class="benefits">
    <div class="benefits__holder">
        <div class="benefits__head">
            <div class="benefits__head--title">
                Daily Benefits. <br>Long-term Results
            </div>
            <div class="benefits__head--text">
                <p>
                    We started D1 beacuse....
                </p>
            </div>
        </div>
        <div class="benefits__feed">
            <div class="benefits__list">
                <div class="benefits__list--photo">
                    <img class="img-responsive" width="364" height="364" src="{{ 'images/benefits-1.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="benefits__list--label">
                    Look Fresher and <br>More Confident
                </div>
                <div class="benefits__list--text">
                    Prevent and reduce fine lines and wrinkles that develop with dry skin as you age
                </div>
            </div>
            <div class="benefits__list">
                <div class="benefits__list--photo">
                    <img class="img-responsive" width="364" height="364" src="{{ 'images/benefits-2.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="benefits__list--label">
                    Prevent Aging and Maintain Youthful Skin
                </div>
                <div class="benefits__list--text">
                    Prevent and reduce fine lines and wrinkles that develop with dry skin as you age
                </div>
            </div>
            <div class="benefits__list">
                <div class="benefits__list--photo">
                    <img class="img-responsive" width="364" height="364" src="{{ 'images/benefits-3.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="benefits__list--label">
                    Boost Your Skin Health
                </div>
                <div class="benefits__list--text">
                    Prevent and reduce fine lines and wrinkles that develop with dry skin as you age
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} featured product {% endcomment %}
 <section class="featured-product">
    <div class="featured-product__holder">
        <div class="featured-product__inner grid-x">
            <div class="featured-product__content">
                <div class="featured-product__content--bar">
                    Start your 1 minute routine
                </div>
                <div class="featured-product__content--title">
                    Get the set
                </div>
                <div class="featured-product__content--text">
                    <p>
                        Experience the ultimate simplicity and effectiveness with our complete skincare set. Designed for men who want great skin without the hassle, our set includes everything you need for a daily routine that takes just one minute.
                    </p>
                </div>
                <div class="featured-product__content--list">
                    <ul>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            $10 Off Each Pouch
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Never Run Out
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            No Commitment. Cancel Anytime
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Pause, Delay, or Change Frequency
                        </li>
                    </ul>
                </div>
                <div class="featured-product__content--btn">
                    <a href="#" class="grid-x align-center align-middle text-center">
                        <span>Add to cart — $58.99</span><span>$10.99</span>
                    </a>
                </div>
            </div>
            <div class="featured-product__photo">
                <div class="featured-product__photo--inner">
                    <img class="img-responsive" width="606" height="512" src="{{ 'images/featured-product.png' | asset_url }}" alt="Photo">
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} ingredients {% endcomment %}
 <section class="ingredients">
    <div class="ingredients__holder">
        <div class="ingredients__title">
            Best-in-class <br>ingredients that work
        </div>
        <div class="ingredients__btn">
            <a href="#" class="grid-x align-center align-middle text-center">
                Full ingredient List
            </a>
        </div>
        <div class="ingredients__feed">
            <div class="ingredients__list">
                <div class="ingredients__list--photo">
                    <img class="img-responsive" width="132" height="132" src="{{ 'images/ingredient-1.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="ingredients__list--label">
                    Hyaluronic Acid
                    <span>
                        All Day Moisturizer
                    </span>
                </div>
            </div>
            <div class="ingredients__list">
                <div class="ingredients__list--photo">
                    <img class="img-responsive" width="132" height="132" src="{{ 'images/ingredient-2.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="ingredients__list--label">
                    Niacinamide
                    <span>
                        All Day Moisturizer
                    </span>
                </div>
            </div>
            <div class="ingredients__list">
                <div class="ingredients__list--photo">
                    <img class="img-responsive" width="132" height="132" src="{{ 'images/ingredient-3.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="ingredients__list--label">
                    Bamboo Charcoal
                    <span>
                        All Day Moisturizer
                    </span>
                </div>
            </div>
            <div class="ingredients__list">
                <div class="ingredients__list--photo">
                    <img class="img-responsive" width="132" height="132" src="{{ 'images/ingredient-4.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="ingredients__list--label">
                    Centella Asiatica
                    <span>
                        Charcoal Cleanser
                    </span>
                </div>
            </div>
            <div class="ingredients__list">
                <div class="ingredients__list--photo">
                    <img class="img-responsive" width="132" height="132" src="{{ 'images/ingredient-5.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="ingredients__list--label">
                    Rose Oil
                    <span>
                        Charcoal Cleanser
                    </span>
                </div>
            </div>
            <div class="ingredients__list">
                <div class="ingredients__list--photo">
                    <img class="img-responsive" width="132" height="132" src="{{ 'images/ingredient-6.jpg' | asset_url }}" alt="Photo">
                </div>
                <div class="ingredients__list--label">
                    Bamboo Charcoal
                    <span>
                        Charcoal Cleanser
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %} formulas {% endcomment %}
 <section class="formulas">
    <div class="formulas__holder">
        <div class="formulas__tagline">
            Just 1 minute a day
        </div>
        <div class="formulas__title">
            three perfect formulas
        </div>
        <div class="formulas__text">
            A <span>game changer</span> for your skin
        </div>
        <div class="formulas__feed">
            <div class="formulas__list">
                <div class="formulas__list--content">
                    <div class="formulas__list--content--inner">
                        <h2>Charcoal face Wash</h2>
                        <p>
                            Omne animal, simul atque haec putat, ut labore et impetus quo voluptas nulla pariatur? at magnum periculum adiit in quo quaerimus.
                        </p>
                    </div>
                </div>
                <div class="formulas__list--photo">
                    <img width="202" height="462" src="{{ 'images/formula-1.png' | asset_url }}" alt="Photo">
                </div>
            </div>
            <div class="formulas__list">
                <div class="formulas__list--content">
                    <div class="formulas__list--content--inner">
                        <h2>All Day Face Moisturizer</h2>
                        <p>
                            Omne animal, simul atque haec putat, ut labore et impetus quo voluptas nulla pariatur? at magnum periculum adiit in quo quaerimus.
                        </p>
                    </div>
                </div>
                <div class="formulas__list--photo">
                    <img width="280" height="360" src="{{ 'images/formula-2.png' | asset_url }}" alt="Photo">
                </div>
            </div>
            <div class="formulas__list">
                <div class="formulas__list--content">
                    <div class="formulas__list--content--inner">
                        <h2>Daily eye cream</h2>
                        <p>
                            Omne animal, simul atque haec putat, ut labore et impetus quo voluptas nulla pariatur? at magnum periculum adiit in quo quaerimus.
                        </p>
                    </div>
                </div>
                <div class="formulas__list--photo">
                    <img width="199" height="381" src="{{ 'images/formula-3.png' | asset_url }}" alt="Photo">
                </div>
            </div>
        </div>
        <div class="formulas__testimonials">
            <h2>Here is what our customers say</h2>
            <div class="formulas__testimonials--slider">
                
                <div class="formulas__testimonials--slider--list">
                    <div class="formulas__testimonials--slider--list--inner">
                        <div class="testi-stars grid-x align-middle">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="testi-text">
                            <p>
                                “The testosterone support my daily regimine has needed for ages! I haven’t felt this young in years.”
                            </p>
                        </div>
                        <div class="testi-author grid-x align-middle">
                            <img class="img-responsive" width="54" height="54" src="{{ 'images/author-photo-2.png' | asset_url }}" alt="Author">
                            <span>
                                Eric Trexler
                                <i>
                                    Men’s Wellness Influencer
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            
                <div class="formulas__testimonials--slider--list">
                    <div class="formulas__testimonials--slider--list--inner">
                        <div class="testi-stars grid-x align-middle">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="testi-text">
                            <p>
                                “The testosterone support my daily regimine has needed for ages! Thanks Joymode, I will definitely be renewing my subscription”
                            </p>
                        </div>
                        <div class="testi-author grid-x align-middle">
                            <img class="img-responsive" width="54" height="54" src="{{ 'images/author-photo-2.png' | asset_url }}" alt="Author">
                            <span>
                                Ben Steelheart
                                <i>
                                    Ph.D., Human Movement Science
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            
                <div class="formulas__testimonials--slider--list">
                    <div class="formulas__testimonials--slider--list--inner">
                        <div class="testi-stars grid-x align-middle">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="testi-text">
                            <p>
                                “I dont miss a day without it now. This is the best stuff on the market for sure!”
                            </p>
                        </div>
                        <div class="testi-author grid-x align-middle">
                            <img class="img-responsive" width="54" height="54" src="{{ 'images/author-photo-2.png' | asset_url }}" alt="Author">
                            <span>
                                Harrison Rockwell
                                <i>
                                    Men’s Wellness Influencer
                                </i>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="formulas__testimonials--slider--list">
                    <div class="formulas__testimonials--slider--list--inner">
                        <div class="testi-stars grid-x align-middle">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="testi-text">
                            <p>
                                “The testosterone support my daily regimine has needed for ages! I haven’t felt this young in years.”
                            </p>
                        </div>
                        <div class="testi-author grid-x align-middle">
                            <img class="img-responsive" width="54" height="54" src="{{ 'images/author-photo-2.png' | asset_url }}" alt="Author">
                            <span>
                                Eric Trexler
                                <i>
                                    Men’s Wellness Influencer
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            
                <div class="formulas__testimonials--slider--list">
                    <div class="formulas__testimonials--slider--list--inner">
                        <div class="testi-stars grid-x align-middle">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="testi-text">
                            <p>
                                “The testosterone support my daily regimine has needed for ages! Thanks Joymode, I will definitely be renewing my subscription”
                            </p>
                        </div>
                        <div class="testi-author grid-x align-middle">
                            <img class="img-responsive" width="54" height="54" src="{{ 'images/author-photo-2.png' | asset_url }}" alt="Author">
                            <span>
                                Ben Steelheart
                                <i>
                                    Ph.D., Human Movement Science
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
            
                <div class="formulas__testimonials--slider--list">
                    <div class="formulas__testimonials--slider--list--inner">
                        <div class="testi-stars grid-x align-middle">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="testi-text">
                            <p>
                                “I dont miss a day without it now. This is the best stuff on the market for sure!”
                            </p>
                        </div>
                        <div class="testi-author grid-x align-middle">
                            <img class="img-responsive" width="54" height="54" src="{{ 'images/author-photo-2.png' | asset_url }}" alt="Author">
                            <span>
                                Harrison Rockwell
                                <i>
                                    Men’s Wellness Influencer
                                </i>
                            </span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{% comment %} product-videos {% endcomment %}
 <section class="product-videos">
    <div class="product-videos__holder">
        <div class="product-videos__title">
            What our fans say
        </div>
        <div class="product-videos__slider">
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Eye Cream
                            </div>
                            <div class="pv-price">
                                $20.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Face Wash
                            </div>
                            <div class="pv-price">
                                $20.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Complete Set
                            </div>
                            <div class="pv-price">
                                $58.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Moisturizer
                            </div>
                            <div class="pv-price">
                                $20.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Eye Cream
                            </div>
                            <div class="pv-price">
                                $20.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Face Wash
                            </div>
                            <div class="pv-price">
                                $20.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div> 
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Complete Set
                            </div>
                            <div class="pv-price">
                                $58.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="product-videos__list">
                <div class="product-videos__list--inner">
                    <div class="product-videos__list--photo">
                        <img class="img-responsive" width="332" height="558" src="{{ 'images/product-video.jpg' | asset_url }}" alt="Video">
                    </div> 
                    <div class="product-videos__list--audio">
                        <a href="#" aria-label="Audio">
                            <img width="20" height="16" src="{{ 'images/audio-icon.png' | asset_url }}" alt="Audio">
                        </a>
                    </div> 
                    <div class="product-videos__list--play">
                        <a href="#" aria-label="Audio">
                            <i class="fa-solid fa-play"></i>
                        </a>
                    </div> 
                    <div class="product-videos__list--content">
                        <div class="product-videos__list--info">
                            <div class="pv-stars grid-x align-middle">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="pv-label">
                                D1 Moisturizer
                            </div>
                            <div class="pv-price">
                                $20.99
                            </div>
                        </div>
                        <div class="product-videos__list--btn">
                            <a href="#" class="grid-x align-center align-middle text-center">Add</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
    </div>
</section>

{% comment %} featured product {% endcomment %}
 <section class="featured-product fp-2">
    <div class="featured-product__holder">
        <div class="featured-product__inner grid-x">
            <div class="featured-product__content">
                <div class="featured-product__content--bar">
                    Start your 1 minute routine
                </div>
                <div class="featured-product__content--title">
                    Get the set
                </div>
                <div class="featured-product__content--text">
                    <p>
                        Omne animal, simul atque haec putat, ut labore et impetus quo voluptas nulla pariatur? at magnum periculum adiit in quo quaerimus.
                    </p>
                </div>
                <div class="featured-product__content--list">
                    <ul>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            $10 Off Each Pouch
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Never Run Out
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            No Commitment. Cancel Anytime
                        </li>
                        <li>
                            <img class="img-responsive" width="24" height="22" src="{{ 'images/check-icon.png' | asset_url }}" alt="Check">
                            Pause, Delay, or Change Frequency
                        </li>
                    </ul>
                </div>
                <div class="featured-product__content--btn">
                    <a href="#" class="grid-x align-center align-middle text-center">
                        <span>Add to cart — $58.99</span>
                    </a>
                </div>
            </div>
            <div class="featured-product__photo">
                <div class="featured-product__photo--inner">
                    <img class="img-responsive" width="606" height="512" src="{{ 'images/featured-product.png' | asset_url }}" alt="Photo">
                </div>
            </div>
        </div>
    </div>
</section>